<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="manager">
      <h2 data-cy="managerDetailsHeading"><span jhiTranslate="timothyApp.manager.detail.title">Manager</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ manager.id }}</span>
        </dd>
        <dt><span jhiTranslate="timothyApp.manager.manId">Man Id</span></dt>
        <dd>
          <span>{{ manager.manId }}</span>
        </dd>
        <dt><span jhiTranslate="timothyApp.manager.manName">Man Name</span></dt>
        <dd>
          <span>{{ manager.manName }}</span>
        </dd>
        <dt><span jhiTranslate="timothyApp.manager.manEmail">Man Email</span></dt>
        <dd>
          <span>{{ manager.manEmail }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/manager', manager.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
